body{
    height:120svh;
    width:100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
.parent{
    height: 100;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -7px;
}


.payment_div{
    background-color: whitesmoke;
    box-shadow: 7px 7px 1px teal;
}

.headerbar{
    height:100px;
    /* height: 130px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #008080 ;
}

.cinemaxlogo{
    margin-top: 0.9%;
    margin-left: 1.5%;
    float: left;
}

.options{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 500px;
    font-size: 22px;
    font-weight: 900px;
    font-family: sans-serif;
    justify-content: space-around;
    align-items: center;
    margin-left: 3%;
    margin-top: 1%;
    float: left;
}
.selectbar{
    float: right;
    margin-top: 4%;
    margin-left: 30%;

}
.selectbar1{
    height:30px;
    width:200px;
} 

.location1{
    width:18%;
    float: right;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 4%;
    z-index: 9999;
    
}
.select_yout_location{
    font-size: 20px;
    background-color: white;
    color: #008080 ;
    padding: 5px;
    box-shadow: 2px 2px 5px 3px lightblue;

}
.places{
    padding-left: 2%;
    font-size: 15px;
    display: none;
    background-color: white;
    border: 1px solid #008080 ;
    color: #008080 ;
}
.place:hover{
    background-color: #008080;
    color: white;
}
.place{
    padding: 2px;
}

@media screen and ((max-width:1160px) and (min-width:990px)){
    .location1{
        width:22%;
    }
    .location1{
        margin-left:75%;
        margin-top:-5%;
    }
}
@media screen and ((max-width:875px) and (min-width:500px)){
    .location1{
        width:35%;
    }
    .location1{
        margin-left:65%;
        margin-top:-7%;
    }
}

@media screen and (max-width:500px){
    .location1{
        width:210px;
    }
    .location1{
        margin-left:33%;
        margin-top:-12%;
        /* margin-left: 10%; */

    }
    
}
option :hover{
    background-color: #008080 !important;
}
@media screen and (max-width:1500px){
    .selectbar{
        margin-left:70%;
        margin-top:-45px;
    }
    .selectbar1{
        width:150px;
    }
}
@media screen and (max-width:990px){
    .options{
        width:350px;
    }
    
}
@media screen and (max-width:500px){
    .options{
        width:200px;
    }
    
}

.options1{
    font-size: 22px;
    font-weight: 900px;
    font-family: sans-serif; 
}

.home{
    height: 50px;
}

.home:hover{
   border-bottom: 3px solid white;
   font-size: 26px;
   color: white;
}

.movies{
    height: 50px;
}

.movies:hover{
   border-bottom: 3px solid white;
   font-size: 26px;
   color: white;
}

.actors{
    height: 50px;
}

.actors:hover{
   border-bottom: 3px solid white;
   font-size: 26px;
   color: white;
}

.sports{
    height: 50px;
}

.sports:hover{
   border-bottom: 3px solid white;
   font-size: 26px;
   color: white;
}

.account{
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900px;
    margin-left: 92%;
    margin-top: 1.5%;
}

.signup{
    border: 2px solid bisque;
    background-color: ghostwhite;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px darkgray;
    color: black;
}

.signup:hover{
    background-color: lightgreen;
    transform: scale(1.08);
}

.login{
    border: 2px solid bisque;
    background-color: ghostwhite;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px darkgray;
    color: black;
}

.login:hover{
    background-color: skyblue;
    transform: scale(1.08);
}


.optheader{
    width: 0px;
    height: 410px;
    transition: all 1s;
    /* margin-top: 8%;
    margin-left: -50%; */
    position: absolute;
    right:0;
    top:50px;
    z-index: 999;
 }

.options1{
    display: none; 
    background-color: black;
 }

 .home1{
    font-size: 21px;
    text-align: center;
    padding:10px;
    color: white;
    
    /* margin-top: -1%;
    margin-left: -3%; */
 }

 .movies1{
    font-size: 21px;
    text-align: center;
    padding:10px;
    color: white;
    
    /* margin-top: -7.3%;
    margin-left: 27%; */
 }

 .actors1{
    font-size: 20px;
    text-align: center;
    padding:10px;
    color: white;
    
    /* margin-top: -7.3%;
    margin-left: 57%; */
 }

 .sports1{
    font-size: 20px;
    text-align: center;
    padding:10px;
    color: white;
   
    /* margin-left: 84%;
    margin-top: -7.3%; */
 }

 .close{
    font-size: 22px;
    text-align: center;
    padding:10px;
    color: white;
   
    /* margin-left: 100%;
    margin-top: -7.5%; */
 }

 .home1:hover{
    font-size: 24px;
    font-weight: bolder;
 }
 .movies1:hover{
    font-size: 24px;
    font-weight: bolder;
 }
 .actors1:hover{
    font-size: 24px;
    font-weight: bolder;
 }
 .sports1:hover{
    font-size: 24px;
    font-weight: bolder;
 }

 .close:hover{
    font-size: 24px;
    font-weight: bolder;
    color:red;
 }

button{
    height: 40px;
    width: 70;
    padding: 5px;
    font-size: 22px;
    font-weight: 900px ;
    font-family: sans-serif;
    border:2px solid black
 }

.optbutton{
    display: none;
    margin-top: 1%;
    margin-left: 5%;
    border-radius: 10px;
    position: absolute;
    right:0;
}

@media screen and (max-width:500px){
    .options{
        display: none;
    }
    .optbutton{
        display: block;
    }
}
.mvetitle{
    height:80px;
    width:100%;
    background-color: red;
    margin-top: 2%;
    display: flex;
    align-items: center;
}
.dates{
    width:500px !important;
    height:40px !important;
    display: flex !important;
    align-items: center !important;
    border: 1px solid black !important;
    margin-left: 5%;
}
.block{
    width:100px !important;
    height:40px !important;
    border: 1px solid black !important;
    display: block !important;
}
.block11{
    height:100% !important;
    width:100% !important;
    background-color: black !important;
}

#mve{
    height:100px;
    width:100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent1{
    /* width:900px !important; */
    width:400px;
    height:100%;
    display: flex !important;
    /* border:1px solid  red; */
    align-items: center;
    position: relative;
    margin-top: 3%;
    margin-left: 5%;
    
}
.child{
    /* width:100px ; */
    height:100% !important;
    /* border:1px solid black; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 10px;
}
.child1{
    height:100%;
    width:80px !important;
    padding-top: 10px;
}
.child:hover{
    transform:scale(1.2);
}
.child1:hover{
    background-color: lightgreen;
    color: black;
}
.child:hover .date{
    color: black;
}
.child:hover .day{
    color: black;
}
.child:hover .month{
    color: black;
}
@media screen and (max-width:350px){
    /* .child{
        width:100% !important;
    }
    .child1{
        width:40px;
    } */
    .parent1{
        width:200px !important;
    }
    .mybutton1{
        position: relative !important;
        left:10px !important;
    }
    .mybutton2{
        position: relative;
        right:0 !important;
    }
}

@media screen and (max-width:200px){
    /* .child{
        width:100% !important;
    }
    .child1{
        width:40px;
    } */
    .parent1{
        width:200px !important;
    }
    .mybutton1{
        position: relative !important;
        left:20px !important;
    }
    .mybutton2{
        position: relative;
        right:0 !important;
    }
}

.mybutton1,.mybutton2{
    border: 1px solid white !important;
    color: lightgray;
    font-weight: bold !important;
    font-size: 40px;
    background-color: whitesmoke !important;
}

.day{
    height:20%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 20px;
}
.date{
    height:30%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    margin-top: 15%;
}
.month{
    height:20%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    margin-top: 10%;
}
.theaters{
    width:100%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.theaters_mid{
    width:80%;
    /* background-color: yellow; */
}
.availables{
    height:30px;
    width:100%;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-wrap: wrap;
}
.twodiv{
    height:100%;
    width:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.available1{
    height:100%;
    width:50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot1{
    height:20%;
    width:5%;
    border-radius: 50%;
    background-color: yellow;
}
.available2{
    height:100%;
    width:50%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot2{
    height:20%;
    width:5%;
    border-radius: 50%;
    background-color: green;
}
.fa-heart:hover{
    color: red;
}
/* #heart { 
    position: relative; 
    width: 100px; 
    height: 90px; 
} 

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: red; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
} */
.theaters1{
    width:100%;
    height:fit-content;
}
.theatre2{
    /* margin-top: 3%; */
}

.hr1{
    margin-top: 9%;
    border:1px solid #EEEEEE;
}
.hr2{
    border:1px solid #EEEEEE;

}

.theatre_title{
    width:100%;
    /* height:30%; */
    float: left;
    display: flex;
    /* background-color: red; */
}
.heart{
    height:100%;
    float: left;
}
.theater11{
    height:100%;
    float:left;
    margin-left: 2%;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 18px;
}
.info{
    width:3%;
    height:100%;
    float: left;
    margin-left: 2%;
    font-size: 12px;
}
.theatre_time{
    width:98%;
    display: flex;
    align-items: start;
    justify-content:center;
    gap:2%;
    /* position: absolute;
    left:40%; */
    flex-wrap: wrap;
    padding:1%;
}
.time1{
    height:40px;
    width:120px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    font-family: sans-serif;
    font-weight: 900px;

}

.time1:hover{
    background-color: lightgreen;
}




.time-container {
    position: relative;
    display: inline-block;
    margin: 10px;
  }

  .time {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .hover-overlay {
    position: absolute;
    bottom: 110%; /* Position above the time div */
    width: 130px;
    height:70px;
    display: none;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    box-sizing: border-box;
    z-index: 2;
    border-radius: 10px;
  }
  .hover-overlay1 {
    position: absolute;
    bottom: 110%; /* Position above the time div */
    width: 200px;
    height:70px;
    display: none;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    box-sizing: border-box;
    z-index: 2;
    border-radius: 10px;
  }
  a:hover + .hover-overlay{
    display: block;
  }
  a:hover + .hover-overlay1{
    display: block;
  }
  .details{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width:100%;
    height:78%;
    padding:2%;
    border-radius: 10px;
  }
  .detailstwo{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width:100%;
    height:78%;
    padding:2%;
    border-radius: 10px;
  }
  .details1{
    height:100%;
    width:50%;
    background-color: black;
    float: left;
  }
  .details2{
    height:100%;
    width:50%;
    float: right;
    
  }
  .v{
    width:100%;
    height:22%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 10px;
  }
  .cost{
    height:20%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avai1{
    height:20%;
    width:100%;
    padding-left: 22%;
    color: white;
    margin: 7%;
    margin-left: 4%;
    font-size: 12px;
  }
  .description{
    height:40%;
    width:100%;
    color: green;
    font-size:15px;
    margin-left: 22%;
  }



















  .pay{
    height: 40px;
    width: 200px;
    background-color: white;
    color: rgb(197, 67,67);
    font-size: 20px;
    border:1px solid rgb(197, 67,67);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(197, 67,67);
    /* animation: blinker 1s linear infinite; */
}
.pay:hover{
    background-color: rgb(197, 67,67);
    color: white;
}
  /* @keyframes blinker {
    50% {
      opacity: 0.3;
      
    }
  } */







/* button{
    height: 100%;
    width:100%;
    position: relative;
    background-color: white;
    border:2px solid #FF0080;
    color: #FF0080;
    font-size: 30px;
    border-radius: 25px;
    overflow: hidden;
    transition:color 1s linear 1s;
 }
 button:hover{
    color: white;
    z-index:9999;
 }
 button::before{
    content: "";
    position:absolute;
    height:100%;
    width:100%;
    background-color: #FF0080;
    border-radius: 25px;
    left:200px;
    top:0px;
    transition:left 1s linear 0s;
}
button:hover::before{
    left:0;
    z-index:-9999;
} */



        #ticket {
            width: 100%;
            /* display: flex; */
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 20%;
            display: none;
            /* background-color: blanchedalmond; */
            /* display: none; */
        
        }
        .parents {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            /* height: 100svh; */
            background-color: white;
            /* border: 2px solid gold; */
        }
        .parents1 {
            width: 1250px;
            height: 50px;
            border: 1px solid #EEEEEE;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        label{
            font-size: 20px;
            color: black;
            font-weight: bold;
        }
        
        .select {
            width: 50px;
        }
        
        .parent2 {
            width: 1250px;
            height: 40px;
            border: 1px solid #EEEEEE;
        }
        
        .parent3 {
            width: 1250px;
            height: 50px;
            border: 1px solid #EEEEEE;
        
        }
        
        .A {
            width: 200px;
            height: 50px;
            /* border:2px solid purple; */
            float: left;
        }
        
        .q {
            width: 150px;
            height: 40px;
            /* border:2px solid purple; */
            float: left;
        
        }
        
        .A1 {
            width: 700px;
            height: 50px;
             /* border:1px solid goldenrod;  */
            float: left;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-left: -5%;
            
        }
        .square {
            width: 20px;
            height:20px;
            border: 1.5px solid rgb(50, 180, 50);
            border-radius: 3px;
            text-align: center;
        }
        .gold1 {
            width: 480px;
            height: 250px;
            /* background-color:palegreen; */
            float: left;
        }
        
        .line1 {
            width: 90px;
            height: 250px;
            /* background-color: brown; */
            float: left;
        }
        
        .line2 {
            width: 302px;
            height: 250px;
            float: left;
            
            gap: 20px;
        }
        
        .gold2 {
            width: 1000px;
            height: 250px;
            /* background-color: aqua;  */
            float: left;
        }
        
        .duplex1 {
            width: 395px;
            height: 250px;
            /* background-color:palegreen; */
            display: flex;
            float: left;
        }
        .ticket1{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .line3 {
            width: 90px;
            height: 250px;
            /* background-color: brown; */
            float: left;
        }
        
        .line4 {
            width: 302px;
            height: 250px;
            /* background-color:gold; */
            float: left;
        
        }
        
        .duplex2 {
            width: 820px;
            height: 250px;
            /* background-color: aqua; */
            display: flex;
            float: left;
            flex-direction: column;
            
        }
        
        .parent4 {
            width: 1250px;
            height: 50px;
            border: 1px solid #EEEEEE;
        }
        
        .parent5 {
            width: 1250px;
            height: 250px;
            border: 1px solid #EEEEEE;
            display: flex;
            /* gap: 10px; */
        }
        
        .parent6 {
            width: 1250px;
            height: 250px;
            border: 1px solid #EEEEEE;
            display: flex;
            gap: 10px;
        }
        
        .parent7 {
            width: 1250px;
            height: 50px;
            border: 1px solid #EEEEEE;
        }
        
        .parent8 {
            width: 1250px;
            height: 30px;
            border: 1px solid #EEEEEE;
        }
        
        .q {
            width: 200px;
            height: 30px;
            border: 1px solid #EEEEEE;
            float: left;
        }
        
        .q1 {
            width: 900px;
            height: 30px;
            /* border:2px solid goldenrod; */
            float: left;
            justify-content: space-around;
            align-items: center;
            /* margin-left: -5%; */
             gap: 20px; 
            
            /* border:1px solid goldenrod; */
        
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
        .parent9{
            width: 1250px;
            height: 90px;
            /* border: 1px solid black; */
        }
        .parent9 img{
            width:400px;
            height:70px;
            margin-left: 30%;
            margin-top: 2%;
        }

        
        .platinum,
        .pla1 {
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 900px;
            font-family: sans-serif;
            color: gray;
            margin-top: 10PX;
            margin-right: 20%;
        
        }
        
        .number2 {
            width: 30px;
            height: 20px;
            background-color: rgb(50, 180, 50);
            border: 2px solid rgb(50, 180, 50);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .number3 {
            width: 30px;
            height: 20px;
            background-color: rgb(50, 180, 50);
            border: 2px solid rgb(50, 180, 50);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .font {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            font-size: 18px;
            margin-right: 110px;
        }
        
        .letters,
        .letter {
            width: 20px;
            height: 30px;
            /* border:2px solid green; */
            margin-top: 5px;
            margin-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
        
        
        }
        
        .yellow1 {
            height: 25px;
            width: 300px;
            /* background-color: blue; 
        border:2px solid black;   */
            display: flex;
            flex-direction: row;
            /* justify-content:space-around; */
            gap: 10px;
        
        
        
        }
        
        .yellow2,
        .yellow3,
        .yellow4,
        .yellow5,
        .yellow6 {
            height: 25px;
            width: 300px;
            /* background-color: blue; 
        border:2px solid black;  */
            display: flex;
            margin-top: 10px;
            /* justify-content:space-around; */
            gap: 10px;
        }
        
        .yellow7 {
            height: 20px;
            width: 300px;
            /* background-color: blue; 
        border:2px solid black;  */
            display: flex;
            margin-top: 10px;
            /* justify-content:space-around; */
            gap: 10px;
        }
        
        .seat1 {
            width: 20px;
            height: 20px;
            border: 1.5px solid rgb(50, 180, 50);
            margin-top: 7px;
            color: rgb(50, 180, 50);
            display: flex;
            justify-content: space-evenly;
             align-items: center; 
            border-radius: 3px;
            gap: 10px;
        }
        .booked{
            width: 20px;
            height: 20px;
            border: 1.5px solid rgb(214, 211, 211);
            margin-top: 7px;
            background-color: rgb(214, 211, 211);
            color: white;
            display: flex;
             justify-content: space-evenly; 
            align-items: center;
            border-radius: 3px;
        }
        .booking1,
        .booking2,
        .booking3,
        .booking4,
        .booking5,
        .booking6,
        .booking7 {
            height: 25px;
            width: 300px;
            /* background-color: blue; 
        border:2px solid black;    */
            display: flex;
            flex-direction: row;
            /* justify-content:space-around; */
            gap: 10px;
            margin-top: 8px;
        
        
        
        }
        
        .g1,
        .g2,
        .g3,
        .g4,
        .g5,
        .g6,
        .g7,
        .g8 {
            height: 30px;
            width: 700px;
            /* background-color: blue;  */
            /* border:2px solid black;  */
            /* justify-content: space-between; */
            display: flex;
            flex-direction: row;
            margin-top: 5px;
            gap: 10px;
        
        
        
        
            /* justify-content:space-around; */
        
        }
        
        .s1 {
            height: 30px;
            width: 700px;
            /* background-color: blue;   */
            /* border:2px solid black;  */
            /* justify-content: space-between; */
            /* display: flex;
        flex-direction: row; */
            margin-top: 5px;
            display: flex;
            float: left;
            gap: 10px;
        
        
        
        
        
        }
        
        .s2,
        .s3,
        .s4,
        .s5,
        .s6,
        .s7,
        .s8 {
            height: 30px;
            width: 700px;
            /* background-color: pink;   */
            /* border:2px solid black;  */
            /* justify-content: space-between; */
            /* display: flex;
        flex-direction: row; */
            margin-top: 5px;
            display: flex;
            float: left;
            gap: 10px;
        
        }
        
        .styling {
            display: flex;
            /* justify-content: center;
        align-items: center; */
            /* margin-top: 15px; */
            font-size: 20px;
            margin-left: 35px;
        }
        
        .exe {
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 900px;
            font-family: sans-serif;
            color: gray;
            margin-top: 15PX;
            margin-right: 20%;
            text-align: center;
        }
        
        .seat1:hover {
            background-color:rgb(50, 180, 50);
            color: white;
        
        }
        
        .square:hover {
            background-color: rgb(50, 180, 50);
            color: white;
        }
        
        .select {
            width: 360px;
            height: 50px;
            /* border:2px solid black; */
            display: flex;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .available {
            width: 200px;
            height: 50px;
            /* border:2px solid gold;  */
            display: flex;
            float: left;
        }
        
        .solid {
            width: 150px;
            height: 50px;
             /* border: 2px solid black;  */
            display: flex;
            float: left;
            margin-left: -5%;
            
        }
        
        .set1 {
            width: 200;
            height: 50px;
            /* border:2px solid black; */
            display: flex;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 250px;
            font-size: 24px;
        }
        
        .set2 {
        
            width: 200;
            height: 50px;
            /* border:2px solid black; */
            display: flex;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .set3 {
            width: 20px;
            height: 20px;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: green;
        
        }
        
        .av1 {
            width: 100px;
            height: 50px;
            /* border:2px solid pink;   */
            display: flex;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
        
        
        
        
        }
        
        .av2 {
            width: 100px;
            height: 50px;
            /* border:2px solid green;   */
            display: flex;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
        
        
        
        
        
        }
        .squ{
            width: 20px;
            height: 20px;
            border: 1.5px solid rgb(50, 180, 50);
            border-radius: 3px;
            align-items: center;
            text-align: center;
        }
        
        .av3 {
            width: 20px;
            height: 20px;
            border: 2px solid black;
            display: flex;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 70px;
            
        
        }
        
        .so1 {
            width: 80px;
            height: 50px;
            /* border: 2px solid yellow; */
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
           
        }
        
        .so2 {
            width: 80px;
            height: 50px;
            /* border: 2px solid pink; */
            
        
        }
        
        .so3 {
            width: 20px;
            height: 20px;
            border: 2px solid black;
            display: flex;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 80px;
            margin-top: 13px;
            background-color: grey;
        
        }
        
        #paybill {
            width: 60%;
            /* background-color: whitesmoke; */
            display: none;
            justify-content: center;
            align-items: center;
            /* background-color: red; */
            margin-left:32%;
            margin-top: 5%;
        }
        
        .paymentbutton{
            height: 40px;
            width: 400px;
            background-color: white;
            color: rgb(197, 67,67);
            font-size: 20px;
            border:1px solid rgb(197, 67,67);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20%;
            border-radius: 10px;
            box-shadow: 2px 2px 5px rgb(197, 67,67);
        }
        .paymentbutton:hover{
            background-color: rgb(197, 67,67);
            color: white;
        }
        
        .parent0 {
            display: flex;
            flex-wrap: wrap;
            width: 1250px;
            height: 20px;
            justify-content: center;
            background-color: green;
            margin-left: 10.1%;
        }
        .green{
            background-color: rgb(50, 180, 50);
            width: 20px;
            height:20px;
            border: 1.5px solid rgb(50, 180, 50);
            border-radius: 3px;
            text-align: center;
        }
        .pink{
            background-color: rgb(50, 180, 50);
            width: 20px;
            height: 20px;
            border: 1.5px solid rgb(50, 180, 50);
            border-radius: 3px;
            align-items: center;
            text-align: center;
        }
        .childs {
            width: 200px;
            height: 150px;
            background-color: pink;
        }
        
        .childs1 {
            width: 169px;
            height: 20px;
            border: 2px solid black;
        }
        
        .childs2 {
            width: 200px;
            height: 20px;
            border: 2px solid black;
        }
        
        .childs3 {
            width: 200px;
            height: 20px;
            border: 2px solid black;
        }
        
        .childs4 {
            width: 200px;
            height: 20px;
            border: 2px solid black;
        }
        
        .divItem {
            width: 30px;
            height: 30px;
            background-color: #ccc; 
            border: 1px solid #333;
            cursor: pointer;
        }
        
        .selected {
            background-color: rgb(50, 180, 50);
            color: black;
        }
        a{
            text-decoration: none;
        }

    .backbutton2{
        height:100%;
        width:10%;
        margin-right: 10%;
        display: flex;   
    }
    .back_button1{
        margin-bottom: 2%;
        margin-left: 1%;
        margin-top: 1%;
    }




















/* @media screen and ((min-width:300px) and (max-width:900px)){
    .payment_div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
     
 } */

#payment1{
   height:700px;
   width:100%;
   /* display: flex; */
   align-items: center;
   justify-content: center;
   margin-top: 100%;
   display:none;
}

.payment_div{
    height:450px;
    width:700px;
   margin-top: 50px;
   box-shadow: 0px 0px 10px 5px teal;
   border-radius: 20px;
   transition: all 1s;
}
.payment_div:hover{
    transform: scale(1.1);
} 
.payment_head{
    display: flex;
    align-items: center;
    justify-content: start;
}
.payment_down{
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment_options{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}
.payment_body{
    /* margin-top: 2%; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; */

}
.payment_body1{
    width:100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap:5%;
    margin-top: 50px;

}
.gpay,.phonepay{
    height:10%;
    width:50%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    font-size: 18px;
    /* gap:70px; */
}
.logo1,.logo2{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    flex-wrap: wrap;
}
.logo_b1{
    /* display: flex;
    align-items: end;
    justify-content: end; */
    width:100px;
    float: right;
    margin-right:60px;
    margin-top: 10px;
    margin-left: 10px;
} 
/*.logo1{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo2{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */



#gpay_main,#gpay_main1,#gpay_main2,#gpay_main3,#gpay_main4,#gpay_main5{
    height: 700px;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.gpay1{
    height: 450px;
    width: 350px;
    border: 1px solid rgb(196, 190, 190);
    box-shadow: 0px 0px 10px 2px #008080;
    font-family: sans-serif;
    background-color: whitesmoke;
    transition: all 1s;
    border-radius: 8px;
    z-index: 1;
}

.payment_down{
    margin-left: 3%;
    margin-top: 5%;
}

.payment_options{
    margin-left: 2%;
    margin-top: 5%;
}

.gpay1:hover{
   transform: scale(1.08);
}
.gpay_btn_cls{
    height: 10%;
    width: 97%;
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-top: 3%;
}
.gpay_btn{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: 1px solid  black;
    background-color:white;
}
.gpay_btn:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 3px 3px gray;
}
#gpay_i1{
       font-size: 19px;
       font-weight: 0;
}
.gpay_b1{
    font-size: 20px;
    margin-left: 2%;
}
.gpay_cls2{
    margin-top: 5%;
    height: 15%;
    width: 85%;
    margin-left: 13%;
}
.gpay_inp1{
    margin-top: 4%;
    height: 10%;
    width: 70%;
    margin-left: 13%;
    border: 1px solid black;
    margin-top: 8%;
}
.gpay_inp1:hover{
transform: scale(1.02);
box-shadow: 0px 0px 3px 3px gray;
}
.gpay_inp2{
    border: 2px solid black;
}
.gpay_btn2,.gpay_btn3{
    height: 10%;
    width: 50%;
    background-color: white;
    font-size: 20px;
    margin-top: 5%;
    border-radius: 8px;
    margin-left: 14%;
    border: 1px solid black;
}
.gpay_btn2:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 3px 3px gray;
}
.gpay_cls3{
    height: 15%;
    width: 85%;
    margin-left: 12%;
    margin-top: 5%;
    font-size: 15px;
}
.gpay_cls4{
    height: 13%;
    width: 80%;
    margin-left: 14%;
    margin-top: 7%;
}




#rrr_main{
    height: 90svh;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
.ticket_booking{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
.ticket_tick{
   height: 60px;
   width: 60px;
   margin-top: -9%;
   animation-name: anime1;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   
}
.ticket_msg{
    font-size: 23px;
    margin-left: 30px;
    margin-top: -3.5%;
    font-family: sans-serif;
}
@keyframes anime1 {
     0%{
      transform: scale(1);
     }
     50%{
        transform: scale(1.1);
     }
     100%{
        transform: scale(1.2);
     }
}
.rrr{
    width:100%;
    height:90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ticket_rrr{
   height:80%;
   width:400px ;
   border: 0.5px solid rgb(218, 214, 214);
   background-color: white;
   box-shadow: 0px 0px 1px 1px rgb(218, 214, 214) ;
}
.ticket_rrr_1{
    height: 40%;
    width: 100%;
    /* background-color: green; */
}
.rrr_ph{
    height: 100%;
    width: 30%;
    float: left;
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
}
.rrr_ticket_im1{
    border-radius: 10px;
    margin-top: 19%;
    /* background-color: red; */
}
.rrr_ticket_b1{
    margin-top: 4%;
    font-size: 25px;
    font-family: sans-serif;
}
.rrr_ticket_dt1{
    margin-top: 5%;
    color:rgb(124, 116, 116) ;
    font-family: sans-serif;
    /* background-color: blue; */
}
.reflect{
    display: flex;
}
.dayreflect{
    /* background-color: red; */
}
.rrr_dt{
    height: 100%;
    width: 65%;
    float: right;
    margin-left: 2%;
}
.ticket_rrr_2{
    height: 6%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
}
.ticket_rrr_tap{
    height: 6%;
    width: 79%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.cir1{
    height: 12px;
    width: 6px;
    background-color:rgb(233, 231, 231) ;
    margin-left: -4.5%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.cir2{
    height: 12px;
    width: 6px;
    background-color:rgb(233, 231, 231) ;
    margin-right: -4.7%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.ticket_rrr_3{
    height: 33%;
    width: 100%;
   margin-top: 1%;
   font-family: sans-serif;
}
.ticket_rrr_3a{
    height: 100%;
    width: 35%;
    float: left;
   display: flex;
   justify-content: center;
   align-items: center;
}
.ticket_rrr_3b{
    height: 100%;
    width: 64%;
    float: left;
    color:rgb(124, 116, 116) ;
}
.ticket_rrr_h3{
    color: black;
}
.ticket_rrr_h4{
    color: black;
}
.ticket_rrr_4{
    height: 8%;
    width: 100%;
   margin-top: 3%;
   display: flex;
   justify-content: center;
   align-items: center;
   color:rgb(124, 116, 116) ;
   font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}


